
    nav {
        display: inline;
        background-color: rgb(0, 247, 255);
      }

      h1 {
        color: red;
        font-family: roboto;
        text-align: Left;
    }

    img {
        border: 1px solid #ddd;
        border-radius: 4px;
        padding: 5px;
        width: 150px;
      }

      body {
        background-color: rgb(211, 211, 211);
        color: blue;
      }